{% block content %}
	<h1>{{ item.name }}</h1>
	<p>{{ item.description }}</p>
	<p>Цена: {{ item.price }}</p>
	<button id="buy-button">Купить</button>

	<script src="https://js.stripe.com/v3/"></script>
	<script>
      var stripe = Stripe('{{ stripe_public_key }}');
      document.getElementById('buy-button').addEventListener('click', function () {
          fetch('/buy/{{ item.id }}/', {
              method: 'GET',
          })
              .then(response => response.json())
              .then(data => {
                  stripe.redirectToCheckout({
                      sessionId: data.session_id
                  });
              });
      });
	</script>
{% endblock %}
